{% extends 'base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<a href="{% url 'product_list' %}" class="btn btn-secondary mb-3">Back to Products</a>
<div class="card">
    <img class="card-img-top h-50" src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 250px">
    <div class="card-body">
        <h2 class="card-title">{{ product.name }}</h2>
        <p class="card-title">Price: {{ product.price }}тг</p>
        <p class="card-text">{{ product.description }}</p>
        <a href="{{ product.link }}" class="btn btn-primary">Buy Now</a>
    </div>
</div>
{% endblock %}
